  
.loader {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba($bg-header, 0.5);
  animation: loader 0.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 10;
  display:flex;
  align-items:center;
  justify-content:center;
    &__title {
      font-family: Shrikhand, Roboto, sans-serif;
      font-size: 40px;
      padding-right: 20px;
    }
    &__dot {
      height: 20px;
      width: 20px;
      border-radius: 50%;
      animation: jump 5s;
      animation-iteration-count: 1;
        &box {
          display: flex;
          justify-content: space-between;
          width: 80px;
        }
        &--1 {
          background-color: $color-primary;
        }
        &--2 {
          background-color: $color-secondary;
          animation-delay: 0.25s;
        }
        &--3 {
          background-color: $color-tertiary;
          animation-delay: 0.5s;
        }
    }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  10% {
    transform: translateY(10px);
  }
  25% {
    transform: translateY(-10px);
  }
  30% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(10px);
  }
  90% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes loader {
  100% {
    opacity: 0;
    z-index: -10;
  }
} 

@keyframes substancetransition {
  from{
    transform: translateY(15px);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}