.article {
    width: 330px;
    height: 251px;
    background: #fff;
    border-radius: 15px 15px 15px 15px;
    position: relative;
    box-shadow: $box-shadow; 
    overflow: hidden;
        &__img {
            width: 335px;
            height: 174px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
        }
        &__img img {
            width: 335px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
        }
        &__flag {
            @include flag;
            background: $bg-flag;
        }
        &__description {
            position: relative;
            margin: 15px;
        }
        &__sub {
            margin-top: 5px;
            font-family: 'Roboto light';
            font-weight: 100;
        }
        &:hover {
            box-shadow: $box-shadow-article;
            @include transition;
        }
}