.restaurants__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
    justify-items: center;
    padding: 28px 0 64px 0;
}

.menus {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
}