.title {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 287px;
    background-color: $bg-main;
    padding: 40px 30px 50px 30px;
        &__main {
            padding: 0 20px;
        }
        &__sub {
            font-size: 18px;
            font-family: 'Roboto Light';
            margin-bottom: 20px;
        }
}

.restaurants__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
    justify-items: center;
    padding: 28px 0 100px 0;
}

@media screen and (min-width: 768px) 
and (max-width: 1024px) {
    .restaurants__container {
        display: grid;
        grid-template-columns: 1fr 1fR;
    }
}

@media screen and (min-width: 500px) 
and (max-width: 600px) {
    .article {
        width: 320px;
        height: 300px;
        &__img {
            width: 320px;
            height: 223px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
        }
        &__img img {
            width: 320px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
        }
    }
}

@media screen and (min-width: 600px) 
and (max-width: 768px) {
    .article {
        width: 320px;
        height: 300px;
        &__img {
            width: 320px;
            height: 223px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
        }
        &__img img {
            width: 320px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
            
        }
    }
}

@media screen and (min-width: 1024px) 
and (max-width: 1366px) {
    .restaurants__container {
        display: grid;
        grid-template-columns: 1fr 1fR;
        grid-row-gap: 30px;
    }
    .article {
        width: 380px;
        height: 300px;
        &__img {
            width: 380px;
            height: 223px;
            overflow: hidden;
            border-radius:15px 15px 0 0;
        }
        &__img img {
            width: 380px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

@media screen and (min-width: 1366px) 
and (max-width: 1920px) {
    .restaurants__container {
        display: grid;
        grid-template-columns: 1fr 1fR;
        grid-row-gap: 30px;
    }
    .article {
        width: 600px;
        height: 300px;
        &__img {
            width: 600px;
            height: 223px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
        }
        &__img img {
            width: 600px;
            overflow: hidden;
            border-radius:15px 15px 0 0; 
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }
}

.menus {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
}

.restaurants-menus {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) 
and (max-width: 1920px) {
    .restaurants-menus {
        display: grid;
        grid-template-columns: 1fr 1FR;
    }
}

.operation {
        &__content {
            display: grid;
            grid-template-columns: 1FR;
            justify-items: center;
        }      
}

@media screen and (min-width: 768px) 
and (max-width: 1024px) {
    .operation {
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 1024px) 
and (max-width: 1920px) {
    .operation {
        &__title {
            text-align: center;
            font-size: 40px;
        }
        &__content {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    .restaurants__title {
        text-align: center;
        font-size: 40px;
    }
}
