.title {
    display: grid;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 287px;
    background-color: $bg-main;
    padding: 40px 30px 50px 30px;
        &__main {
            padding: 0 15px;
        }
        &__sub {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 20px;
        }
}

.restaurants__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
    justify-items: center;
    padding: 28px 0 100px 0;
}

@media screen and (min-width: 768px) 
and (max-width: 1024px) {
    .restaurants__container {
        display: grid;
        grid-template-columns: 1fr 1fR;
    }
}

@media screen and (min-width: 1024px) 
and (max-width: 1366px) {
    .restaurants__container {
        display: grid;
        grid-template-columns: 1fr 1fR;
        grid-row-gap: 30px;
    }
    .article {
        width: 380px;
        height: 300px;
            &__img {
                width: 380px;
                height: 219px;
            }
    }
}

@media screen and (min-width: 1366px) 
and (max-width: 1920px) {
    .restaurants__container {
        display: grid;
        grid-template-columns: 1fr 1fR;
        grid-row-gap: 30px;
    }
    .article {
        width: 500px;
        height: 300px;
            &__img {
                width: 500px;
                height: 219px;
            }
    }

}

.menus {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 18px;
}

.restaurants-menus {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
    padding-bottom: 50px;
}

@media screen and (min-width: 768px) 
and (max-width: 1920px) {
    .restaurants-menus {
        display: grid;
        grid-template-columns: 1fr 1FR;
    }
}

.operation {
        &__content {
            display: grid;
            grid-template-columns: 1FR;
            justify-items: center;
        }      
}

@media screen and (min-width: 768px) 
and (max-width: 1024px) {
    .operation {
        &__content {
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media screen and (min-width: 1024px) 
and (max-width: 1920px) {
    .operation {
        &__title {
            text-align: center;
            font-size: 40px;
        }
        &__content {
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
        }
    }
    .restaurants__title {
        text-align: center;
        font-size: 40px;
    }
}
