.headermenu {
  &__btn {
    height: 40px;
    width: 40px;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 35px;
    background-color: black;
      
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:$linear-gradient;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__like {
    transition-duration: .3s;
    background-color: #f6f6f6;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .headermenu__like {
      &--empty {
        opacity: 0;
      }
    }
  }
}

.article {
  &__btn {
    height: 40px;
    width: 40px;
    padding: 0;
    display:flex;
    align-items:center;
    justify-content:center;
    cursor: pointer;
    position:relative;
    left: 265px;
    top: -40px;
    background-color: black;
        
    &::before {
      opacity: 0;
      transition: 0.5s;
      content: "";
      position: relative;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background:$linear-gradient;
    }

    &:hover::before {
      opacity: 1;
    }
  }

  &__like {
    transition-duration: .3s;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display:flex;
    align-items:center;
    justify-content:center;
    mix-blend-mode: lighten;
  }

  &__btn:hover {
    .article__like {
      &--empty {
        opacity: 0;
      }
    }
  }
}




