.headermenu__btn--full{
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 38px;
  top: 38px;
  
  &:hover {
    animation: fill 0.3s ease-in-out;
    @include transition;
    opacity: 1;
    background:$linear-gradient;
    background:-webkit-linear-gradient($linear-gradient);
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
  }
}

.article__icon--full{
    cursor: pointer;
    font-size: 24px;
    position: absolute;
    left: 270px;
    bottom: 10px;
    
  &:hover {
    animation: fill 0.3s ease-in-out;
    @include transition;
    opacity: 1;
    background:$linear-gradient;
    background:-webkit-linear-gradient($linear-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
    font-weight: bold;
  }
}