.operation {
    height: 390px;

    &__number {
        @include step-number;
    }
    &__title {
        margin: 50px 0 15px 20px;
    }
    &__steps {
        display: inline-block;
        height: 75px;
        width: 321px;
        background: $bg-main;
        margin-top: 20px;
        padding: 25px;
        border-radius: 20px 20px 20px 20px;
        font-size: 16px;
        font-weight: 500;
        box-shadow: $box-shadow;
        -moz-box-shadow: $box-shadow;
        -webkit-box-shadow: $box-shadow;
        &:hover {
            background-color: lighten($color-primary, 35%);
            transform: scale(1.06);
            -webkit-transition: all .5s 0s cubic-bezier(.65,.05,.45,1.17);
            -moz-transition: all .5s 0s cubic-bezier(.65,.05,.45,1.17);
            transition: all .5s 0s cubic-bezier(.65,.05,.45,1.17);
        }
    }
    &__icon {
        @include icon;
        &:hover {
            color: $color-primary;
        }
    }    
}

@media screen and (min-width: 768px) 
and (max-width: 1024px) {
    .operation {
        height: 300px;
        }        
}
