@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto_Regular.ttf") format("truetype");
  src: url("./fonts/Roboto_Bold.ttf") format("truetype") ;
 }

 @font-face {
  font-family: "Roboto Thin";
  src: url("./fonts/Roboto_Thin.ttf") format("truetype");
 }

 @font-face {
  font-family: "Roboto Light";
  src: url("./fonts/Roboto_Light.ttf") format("truetype");
 }

 @font-face {
  font-family: "Roboto Medium";
  src: url("./fonts/Roboto_Medium.ttf") format("truetype");
 }

 @font-face {
  font-family: "Shrikhand";
  src: url("./fonts/Shrikhand_Regular.ttf") format("truetype");
 }

h1 {
    font-family: "Shrikhand", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 27px;
}

h2 {
    font-family: "Roboto medium", sans-serif;
    font-size: 24px;
    font-weight: 500;
}

h3 {
    font-family: "Roboto medium", sans-serif;
    font-size: 18px;
    font-weight: 800; 
}

a {
  font-style: normal;
}

body, html {
    font-family: "Roboto Medium", "Shrikhand", sans-serif;
}