.localisation {
    @include flex;
    background-color: $bg-header;
    font-size: 14px;
    font-weight: 500;
    width: 100%;
    position: relative;
    z-index: 2;

        &__logo {
            display: inline-block;
        }
        
        &__text {
            display: inline-block;
            margin: 15px;
            font-size: 16px;
            font-weight: 400;
        } 
  }

.title {
    @include flex-wrap;
    text-align: center;
    height: 287px;
    background-color: $bg-main;
    padding: 40px 30px 50px 30px;

    &__main {
        padding: 0 15px;
    }

    &__sub {
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px;
    }
}

.operation {

    height: 390px;

        &__title {
             margin: 50px 0 15px 20px;
        }

        &__content {
          @include flex-wrap;
        }
}

.restaurants {
    background-color: $bg-main;

    &__title {
        padding: 60px 0 0 20px;
    }
}
