.banners__img img {
    object-fit: cover;
    width: 100%;
    height: 250px;
}

.menus {
  &__title {
    font-size: 16px;

    ::after {
      content: "";
      display: block;
      width: 40px;
      height: 3px;
      background-color:$color-tertiary;
      margin-top: 5px;
    }
  }
}

.container-menus {
  background-color: $bg-main;
  border-radius: 40px 40px 0 0;
  position: relative;
  top: -40px;
  padding: 30px 0 0 0;
}

.restaurants-menus {
  @include flex-wrap;
  padding-bottom: 50px;
}

.menu-substance { 
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #fff;
  box-shadow: $box-shadow;
  width: 350px;
  height: 68px;
  border-radius: 15px;

  &__header {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
  }

  &__price {
    font-weight: bold;
    padding-left: 10px;
    margin:25px 0px 0 30px;
  }

  &__title {
    margin: 0px 0px 5px 10px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__description {
    margin: 0 0 0 10px;
    white-space: nowrap;
    font-weight: 200;
    font-size: 14px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

  &__check{
    background-color: $color-tertiary;
    opacity: 0;
    margin-right:-40px;
    width: 58px;
    height: 68px;
    @include flex;
    transition-timing-function: ease-in-out;
    transition: 0.8s;
    transition-duration: 0.8s;
    transition-timing-function: ease;
  }

  &__wrapicon {
    background-color: white;
    @include flex;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    &::before {
      content: '✔';
      size: 15px;
      color: $color-tertiary;
      padding: 300px;
      margin-left: 18px;
      background-color: transparent;
    }
    &:hover {
      transform: rotate(360deg);
      transition-duration: .6s;
    }
  }

  &__icon {
    color: $color-tertiary;
  }

  &:hover &__check {
    opacity: 1;
    margin-left: 10px;
    margin-right: 0px;
  }
}

.headermenu h2 {
  font-family: Shrikhand, Roboto, sans-serif;
  font-size: 28px;
  font-weight: 500;
  padding-left: 20px;
}
.menus {
  margin-bottom: 30px;

  &__title {
    margin-top: 20px;
  }
}

.command {
  @include flex;
}

